<div class="footer-content">
  <div class="container">
    <div class="row">
      <div class="col-sm float-left">
        <a class="footer-link" [routerLink]="['/privacy']">Privacy policy</a>
        <a class=" footer-link" [routerLink]="['/regulation']">Regulations</a>
        <a class="footer-link" [routerLink]="['/help']">Help</a>
      </div>
      <div class="col-sm">
        <p class="row float-right footer-text">
          Copyright © 2019-2020 Misern And Friends Inc.
        </p>
      </div>
    </div>
  </div>
</div>
