.navbar {
    background-color: #000000;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=75481), auto;
}

.navbar-brand{
  font-size: 32px;
}

.dropdown-menu{
    top: 59px;
}
.user .dropdown-menu {
    top: 59px;
    left: -80px;
}

.nav-item {
    font-size: 18px;
}
.searchBox{
background-color: #000000;
border-color: rgba(255,255,255,.5);
color:rgba(255,255,255,.5);
}

.btn-style {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.5);
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(180, 10, 61, 0.25);
}
.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle {
    background-color: #343a40;
    border-color: #343a40;
}
