<div *ngIf="error" class="alert alert-danger" style="cursor: pointer;" (click)="error = null">{{error}}</div>
<div style="opacity: 0.8;cursor: pointer;" *ngIf="success_msg != undefined" class="alert alert-success" (click)="success_msg = null">{{success_msg}}</div>
<div class="row" style="padding: 20px">
  <div class="col-4">

    <li class="nav-item nav-link" style="padding-bottom: 20px">
      <div class="input-group">
        <input (keyup.enter)="saveSearchQuery()" [(ngModel)]="searchText" type="text"
          class="form-control bg-transparent border-dark searchBox" type="search" placeholder="Find the cinema"
          aria-label="Search">
        <div class="input-group-append">
          <button (click)="saveSearchQuery()" class="btn btn-outline-dark btn-style"> <i
              class="fas fa-search fa-fw"></i>
            Search</button>
        </div>
      </div>
    </li>

    <ng-container *ngIf="cinemas != undefined">
      <div *ngIf="cinemas.length !== 0" class="movies">
        <table class="table table-striped text-white">
          <tr *ngFor="let cinema of cinemas">
            <td>
              <p style="color: brown; cursor: pointer" (click)="wybierz(cinema)">{{cinema.name}}</p>

              <p style="cursor: default" align="justify">
                {{cinema.address.city}}, {{cinema.address.streetName}} {{cinema.address.houseNumber}}
              </p>
            </td>
          </tr>
        </table>
      </div>

      <div *ngIf="cinemas.length  === 0">
        <h1>No results found</h1>
      </div>
    </ng-container>
  </div>
  <div class="col-8">
    <app-map [cinema]="wybor"></app-map>
  <br>


  <div *ngIf="wybor !== undefined">
    <div class="row">
      <p class="title">{{wybor.name}}</p>
      <div class="star-rating">
        <!-- The '|| 0' would prevent an undefined or null value on the Rating property -->
        <div class="full-star2" [ngStyle]="{'width': wybor.rating * 10 + '%'}"></div>
        <div class="empty-star"></div>
      </div>
      <button class="btn btn-dark" (click)="onAddRateClick()">Rate now!</button>
    </div>
    <div style="padding-left: 110px">
      <div id=rate-container *ngIf="showRateForm" style="margin-bottom: 30px; margin-left: -125px; margin-top: 20px; padding-top: 10px">

        <div style="text-align: left; margin-bottom: -10px;"><p>My rate</p></div>

        <span (click)="submitRate(1)" class="rate-button"> 1 </span>
        <span (click)="submitRate(2)" class="rate-button"> 2 </span>
        <span (click)="submitRate(3)" class="rate-button"> 3 </span>
        <span (click)="submitRate(4)" class="rate-button"> 4 </span>
        <span (click)="submitRate(5)" class="rate-button"> 5 </span>
        <span (click)="submitRate(6)" class="rate-button"> 6 </span>
        <span (click)="submitRate(7)" class="rate-button"> 7 </span>
        <span (click)="submitRate(8)" class="rate-button"> 8 </span>
        <span (click)="submitRate(9)" class="rate-button"> 9 </span>
        <span (click)="submitRate(10)" class="rate-button"> 10 </span>

        <div class="row">
          <div class="col-sm">
            <a (click)="showRateForm = false" class="review-button row float-right">Close</a>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
