.movie {
  width: 100%;
  height: 385px;
  border-radius: 10px 10px 0px 0px;
}

.title {
  margin-top: 5px;
  color:lightgray;
  text-align: center;
}

.cardTitle {
  font-size: 18px;
  color: black;
  text-align: center;
  border-color: lightgray;
  background-color: whitesmoke;
  border-radius: 0px 0px 10px 10px;
}

.doneButton {
  background-color: lightgray;
  color: black;
}
