<div id="password-change">
  <div class="container">
    <h1 class="text-center pt-5 promotion-title">Change your password</h1>
    <div id="password-change-row" class="row justify-content-center align-items-center">
      <div id="password-change-column" class="col-md-6">
        <div id="password-change-box" class="col-md-12">
          <form [formGroup]="changePasswordForm" id="register-form" (ngSubmit)="onSubmit()">
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <div class="form-group">
              <label for="password" id="password_label" class="password-change-field">Password:</label><br>
              <input #passwordField type="password" placeholder="Secret password"
                     formControlName="password" id="password" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && registerFormControls.password.errors }"/>
              <div *ngIf="submitted && registerFormControls.password.errors" class="invalid-feedback">
                <div *ngIf="registerFormControls.password.errors.required">Password is required</div>
                <div *ngIf="registerFormControls.password.errors.minlength">Password must be at least 6
                  characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="passwordRepeat" id="passwordRepeat_label" class="password-change-field">Repeat
                password:</label><br>
              <input type="password" formControlName="passwordRepeat" id="passwordRepeat"
                     class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && registerFormControls.passwordRepeat.errors }"/>
              <div *ngIf="submitted && registerFormControls.passwordRepeat.errors"
                   class="invalid-feedback">
                <div *ngIf="registerFormControls.passwordRepeat.errors.passwordNotMatch">Passwords not
                  match
                </div>
              </div>
              <button [disabled]="loading" class="btn btn-secondary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Change password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
