div {
  --column-border-width: 12px;
  --theme-black: black;
  --theme-gold: #946c00;
  --theme-rose: #940046;
  --theme-teal: #008194;
  --theme-grey: rgb(109, 109, 109);

  background-color: var(--theme-black);
  color: var(--theme-grey);
  padding-top: 10px;
}

button {
  --side-padding: 15px;

  align-self: end;

  margin: 1%;
  border-style: none;
  border-radius: 3px;
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
  font-size: 20px;

  background-color: var(--theme-grey);
  color: var(--theme-black);
}

.manage-button{
  justify-self: end;
}

h2 {
  text-align: center;
  margin: 0 auto;
  justify-self: center;
}

h1{
  text-align: center;
  margin: 0 auto;
}

.column-dark {
  border-style: solid;
  border-top-width: var(--column-border-width);
  border-bottom-width: var(--column-border-width);
  border-color: var(--theme-rose);

  padding: 20px;
  background-color: var(--theme-black);
}

.column-left {
  border-left-width: 0px;
  border-right-width: calc(var(--column-border-width) / 2);
}

.column-right {
  border-left-width: calc(var(--column-border-width) / 2);
  border-right-width: 0px;
}

.brown-button {
  background-color: var(--theme-black);
  color: var(--theme-gold);
}

.container {
  padding: 0%;
}

.row{
  display: flex;
}
