<div class="container col-md-10">
  <div class="row">
    <h1>Profile Info</h1>
  </div>

  <div class="row">
    <div class="col-md-6 column-dark column-left">
      <h2>Account Data</h2>
      <p>id</p>
      <p>username</p>
      <p>enrolmentDate</p>
      <p>points</p>
      <button class="golden-button">edit</button>
    </div>
    <div class="col-md-6 column-dark column-right">
      <h2>Personal Data</h2>
      <p>name</p>
      <p>surname</p>
      <p>birthday</p>
      <p>email</p>
      <p>phoneNo</p>
      <p>address</p>
      <button class="golden-button">edit</button>
    </div>
  </div>
  <div class="row">
    <h2>Events</h2>
    <button class="brown-button">manage</button>
  </div>
</div>
