<!DOCTYPE html>

<div class="grid-container">
  <h1> My Profile</h1>

  <h2>Account Data</h2>
  <div></div>

  <div class="list-container">
    <p>ID: {{id}}</p>
    <p>Username: {{username}}</p>
    <section class="avatar-container">
      <p>Avatar: </p>
      <img src="../../../assets/images/default-avatar.png" alt="default avatar">
    </section>
    <p>Joined: {{enrolmentDate}}</p>
    <p>Points: {{points}}</p>
  </div>

  <div class="list-container">
    <p></p>
    <button class="edit-button">edit</button>
    <button class="edit-button">edit</button>
    <p></p>
  </div>

  <div class="button-container">
    <button>go to my preferences (>>)</button>
        <button>go to my movie library (>>)</button>
        <button>report a bug (!)</button>
        <button>delete account (X)</button>
  </div>
  <h2>Personal Data</h2>
  <div class="list-container">

    <p>First name: {{name}}</p>
    <p>Last name: {{surname}}</p>
    <p>Birthday: {{birthdayDate}}</p>
    <p>Mail: {{email}}</p>
    <p>Phone no.: {{phoneNo}}</p>
    <p>Address: {{getCleanAddress()}}</p>
  </div>

  <div class="list-container">

    <button class="edit-button">edit</button>
    <button class="edit-button">edit</button>
    <button class="edit-button">edit</button>
    <button class="edit-button">edit</button>
    <button class="edit-button">edit</button>
    <button class="edit-button">edit</button>
  </div>
</div>
