div {
  --theme-gold: #ccb67a;
  --address-height: 300px;
  color: var(--theme-gold);
  padding: 5%;
}

h2 {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

h1 {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
}

button {
  border-style: none;
  border-radius: 20px;
  float: left;
}

img {
  height: 70px;
  width: 70px;
}

p {
  padding: 10px 0;
  align-items: center;
}

input{
  background-color: black;
  border-radius: 20px;
  border: solid;
  border-width: 5px;
  border-color: var(--theme-gold);
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 16px;
}

.edit-button-container {
  display: grid;
  grid-template-columns: auto;
  padding: 12.5%;
}

.button-container {
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: auto;
  row-gap: 50px;
}

.edit-button {
  width: min-content;
  height: min-content;
  align-self: center;
  margin: 9px 0px 25px;
}

.edit-span {
  height: 26px;
  align-self: center;
  margin: 9px 0px 25px;
}

.avatar-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: -5%;
  align-items: center;
}

.empty-300px{
  height: var(--address-height);
}

.address-container {
  display: grid;
  grid-template-columns: auto auto;
  height: var(--address-height);
}

.submit-button {
  background-color: var(--theme-gold);
}
