div {
  --theme-gold: #ccb67a;
  color: var(--theme-gold);
  padding: 5%;
}

h2 {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

h1 {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
}

button {
  border-style: none;
  border-radius: 20px;
  float: left;
}

img{
  height: 70px;
  width: 70px;
}

p{
  padding: 10px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 16px;
}

.list-container {
  display: grid;
  grid-template-columns: auto;
}

.button-container {
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: auto;
  row-gap: 50px;
}

.edit-button {
  width: min-content;
  height: min-content;
}

.avatar-container{
  display: grid;
  grid-template-columns: auto auto;
  padding: -5%;
  align-items: center;
}

.submit-button{
  background-color: var(--theme-gold);
}
