<div class="movie-details">
  <div class="container">
    <div class="row">
      <div class="col align-middle">
        <img class="movie-poster" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
      </div>
      <div class="col-7">
        <p class="title">{{movie.title}}</p>
        <p class="overview">{{movie.overview}}</p>
      </div>
    </div>
    <div class="row" style="padding-top: 15px">
      <div class="col align-middle">
        <p>TUTAJ BĘDĄ OCENY GWIAZDKOWE</p>
        <p>TUTAJ BĘDZIE PRZYCISK DODAJ DO KOLEKCJI LUB USUŃ</p>
      </div>
      <div class="col-7">
        <div class="row" *ngIf="movie.original_title != null">
          <div class="col property-header">
            <p>Tytuł oryginalny</p>
          </div>
          <div class="col property-value">
            <p>{{movie.original_title}}</p>
          </div>
        </div>
        <div class="row" *ngIf="movie.status != null">
          <div class="col property-header">
            <p>Status</p>
          </div>
          <div class="col property-value">
            <p>{{movie.status}}</p>
          </div>
        </div>
        <div class="row" *ngIf="movie.release_date != null">
          <div class="col property-header">
            <p>Data wydania</p>
          </div>
          <div class="col property-value">
            <p>{{movie.release_date}}</p>
          </div>
        </div>
        <div class="row" *ngIf="movie.genres != null">
          <div class="col property-header">
            <p>Gatunki</p>
          </div>
          <div class="col property-value">
            <p>
              <ng-container *ngFor="let genre of movie.genres">
                {{genre.name}}
              </ng-container>
            </p>
          </div>
        </div>
        <div class="row" *ngIf="movie.production_companies != null">
          <div class="col property-header">
            <p>Producenci</p>
          </div>
          <div class="col property-value">
            <p>
              <ng-container *ngFor="let company of movie.production_companies">
                {{company.name}}
              </ng-container>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container reviews">
  <ng-container *ngFor="let review of reviews">
    <ng-container *ngIf="review != null">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <div class="review-title">
            {{ review.headline }}
          </div>
          <div class="review-short">
            „{{ review.summary_short }}”
          </div>
          <div class="review-author">
            — {{ review.byline}}
          </div>
          <div class="review-link">
            Read more at: <a href="{{review.link.url}}">New York Times</a>
          </div>
        </div>
        <div class="col-4"></div>
      </div>
    </ng-container>
  </ng-container>
</div>


