.container {
    text-align: center;
}
.title {
  color: white;
  text-align: left;
  font-size: 30px;
  display: block;
  margin: 20px;
}

.movie-poster {
    background-color: white;
    display: block;
    margin: 0 auto;
}

.movie-details {
  margin-top: 30px;
  color: white;
}

.overview {
  text-align: justify;
  color: white;
  padding-top: 15px;
}

.property-header {
  text-align: left;
}

.property-value {
  text-align: left;
}

.review-title {
  color: white;
  font-weight: bold;
  text-align: center;
}

.review-short {
  color: white;
  text-align: justify;
}

.review-author {
  color: white;
  text-align: right;
  font-style: italic;
}

.review-link {
  color: white;
}

.reviews {
  color: white;
  margin-top: 20px;
}

.darkTextArea {
  outline: none;
  color: white;
  border-color: black;
  background-color: #2d2d2dbf;
  resize: none;
}

.review-button {
  text-decoration: underline;
  color: dimgrey;
  margin-left: 0px;
  margin-right: 0px;
}

.add-comment-button {
  font-size: 24px;
  color: azure;
}

.user-review-content {
  /*width: 50%;*/
  /*margin-top: 50px;*/
}

.comments-section {
  width: 100%;
}
.commentArea {
  /* margin: 10px; */
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #2d2d2dbf;
  /* box-shadow: 10px 10px 5px #2d2d2dbf; */
  border-radius: 25px;
}

a:hover {
  cursor:pointer;
 }

/* This is just an example instead of using <img> tags you can use background-image and achive half-star results */
.star-rating {
  height: 40px;
  width: 400px;
  position: relative;
}

.full-star {
  position: absolute;
  z-index: 1;
  height: 100%;
  background-image: url('src/assets/images/star_yellow.png');
  background-size: 400px 40px;
  /*  other styles to match preference */
}

.full-star2 {
  position: absolute;
  z-index: 1;
  height: 100%;
  background-image: url('src/assets/images/star_blue.png');
  background-size: 400px 40px;
  /*  other styles to match preference */
}

.empty-star {
  width: 100%;
  height: 100%;
  background-image: url('src/assets/images/star_grey.png');
  background-size: 400px 40px;
  /*  other styles to match preference */
}

#movie-container {
  padding: 20px;
  border: 1px solid black;
  background-color: #02030F;
  opacity: 0.8;
}

#rate-container {
  padding: 20px;
  border: 1px solid black;
  background-color: #2d2d2dbf;
  opacity: 0.8;
}

.rate-button{
  font-size: 30px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer
}

.rate-button:hover{
  text-shadow: 0 0 15px white;
}
