#password-change .container #reset-row #reset-column #reset-box {
  margin-top: 60px;
  max-width: 600px;
  min-width: 500px;
  height: 100%;
  border: 1px solid black;
  background-color: #00010D;
  opacity: 0.8;
}
#password-change .container #reset-row #reset-column #reset-box #resetPasswordForm {
  padding: 20px;
}

.promotion-title {
  color: aliceblue;
}

.btn-secondary{
  margin-top: 20px;
}

.reset-field {
  color: cornsilk;
}

.alert {
  margin-top: 10px;
}
